# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/
*.egg-info/

# dbt
dbt/target/
dbt/logs/
dbt/.user.yml

# Airflow
airflow/logs/
airflow/plugins/
airflow/dags/config

# OS - Windows specific
Thumbs.db
desktop.ini